* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ButtonAndForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 720px;
}

.AppContainer {
  min-height: 100vh;
  background-color: #f7f7f7;
}
